**/__pycache__/
.venv/
*.__pycache__
*.pyc
.env
.DS_Store
.idea/
.vscode/
*.Log
Logs/
node_modules/
dist/
build/
*.egg-info/
coverage/
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.coverage
.cache/
.ipynb_checkpoints/
*.sqlite3
*.db
*.Logs